In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

In [2]:
#Study Data Files
mouse_metadata = "Resources/Mouse_metadata.csv"
study_results = "Resources/Study_results.csv"
#Files read
mouse_metadata = pd.read_csv(mouse_metadata)
study_results = pd.read_csv(study_results)

In [3]:
#Combine Data
combined_data = pd.merge(mouse_metadata, study_results)
combined_data.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [12]:
#Set Index
combined_data = combined_data.set_index("Mouse ID")

In [4]:
#Description of the Data
combined_data.describe()

,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
count,1893.000000,1893.000000,1893.000000,1893.000000,1893.000000
mean,12.814580,25.662441,19.572108,50.448381,1.021659
std,7.189592,3.921622,14.079460,8.894722,1.137974
min,1.000000,15.000000,0.000000,22.050126,0.000000
25%,7.000000,25.000000,5.000000,45.000000,0.000000
50%,13.000000,27.000000,20.000000,48.951474,1.000000
75%,20.000000,29.000000,30.000000,56.292200,2.000000
max,24.000000,30.000000,45.000000,78.567014,4.000000

In [5]:
#Create summary table
summary_stats = pd.DataFrame(combined_data.groupby("Drug Regimen")["Tumor Volume (mm3)"].count())
summary_stats

              Tumor Volume (mm3)
Drug Regimen
Capomulin                    230
Ceftamin                     178
Infubinol                    178
Ketapril                     188
Naftisol                     186
Placebo                      181
Propriva                     161
Ramicane                     228
Stelasyn                     181
Zoniferol                    182

In [6]:
#Calculate mean
summary_mean = pd.DataFrame(combined_data.groupby("Drug Regimen")["Tumor Volume (mm3)"].mean())
summary_mean

              Tumor Volume (mm3)
Drug Regimen
Capomulin              40.675741
Ceftamin               52.591172
Infubinol              52.884795
Ketapril               55.235638
Naftisol               54.331565
Placebo                54.033581
Propriva               52.322552
Ramicane               40.216745
Stelasyn               54.233149
Zoniferol              53.236507

In [7]:
#Calculate median
summary_median = pd.DataFrame(combined_data.groupby("Drug Regimen")["Tumor Volume (mm3)"].median())
summary_median

              Tumor Volume (mm3)
Drug Regimen
Capomulin              41.557809
Ceftamin               51.776157
Infubinol              51.820584
Ketapril               53.698743
Naftisol               52.509285
Placebo                52.288934
Propriva               50.854632
Ramicane               40.673236
Stelasyn               52.431737
Zoniferol              51.818479

In [8]:
#Calculate variance
summary_variance = pd.DataFrame(combined_data.groupby("Drug Regimen")["Tumor Volume (mm3)"].var())
summary_variance

              Tumor Volume (mm3)
Drug Regimen
Capomulin              24.947764
Ceftamin               39.290177
Infubinol              43.128684
Ketapril               68.553577
Naftisol               66.173479
Placebo                61.168083
Propriva               42.351070
Ramicane               23.486704
Stelasyn               59.450562
Zoniferol              48.533355

In [9]:
#Calculate standard deviation
summary_standard_deviation = pd.DataFrame(combined_data.groupby("Drug Regimen")["Tumor Volume (mm3)"].std())
summary_standard_deviation

              Tumor Volume (mm3)
Drug Regimen
Capomulin               4.994774
Ceftamin                6.268188
Infubinol               6.567243
Ketapril                8.279709
Naftisol                8.134708
Placebo                 7.821003
Propriva                6.507770
Ramicane                4.846308
Stelasyn                7.710419
Zoniferol               6.966589

In [10]:
#Calculate SEM
summary_sem = pd.DataFrame(combined_data.groupby("Drug Regimen")["Tumor Volume (mm3)"].sem())
summary_sem

              Tumor Volume (mm3)
Drug Regimen
Capomulin               0.329346
Ceftamin                0.469821
Infubinol               0.492236
Ketapril                0.603860
Naftisol                0.596466
Placebo                 0.581331
Propriva                0.512884
Ramicane                0.320955
Stelasyn                0.573111
Zoniferol               0.516398

In [11]:
summary_stats_df = pd.DataFrame({"Mean":summary_mean, 
                               "Median":summary_median,
                               "Variance":summary_variance, 
                               "Standard Deviation":summary_standard_deviation,
                               "SEM":summary_sem}, index = "Mouse ID")
summary_stats_df

TypeError: Index(...) must be called with a collection of some kind, 'Mouse ID' was passed